<br/>
<br/>
<div class="row">
  <div class="columns small-2 small-2-offset-2">
    <%= link_to '导出用户资料表', "/cms/user_system/user_infos/export_users_xls", method: :post, class: 'button tiny' %>
  </div>
</div>
<%= %>

<li>
  <a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_246385176.html">
    <div class="img">
      <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_06/11/M09/0E/2E/wKgFclV5NpOIdh-rAADn9ztrl_8AAWKKgIFJVsAAOgP006/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/><span class="online"></span>
    </div>
    <div class="txt"><h3> 地铁6号线)熙湖南北大三居 百万豪装 满五唯一 </h3>

      <p><span class="new"> 650万元 </span> 3室2厅 170㎡ </p>

      <p> 海淀 - 熙湖 </p>

      <div class="stag"><span class=" t1">地铁房</span><span class=" t2">学区房</span></div>
    </div>
  </a>
</li>
<li>
  <a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_246916497.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_06/16/M04/0E/53/wKgFk1V_e1GIdplvAAC4dqEh2Y8AAWYzwHAYOIAALiO918/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/>
  </div>
  <div class="txt"><h3> 免税房源、换房急售,满五年,唯一,临地铁、学 </h3>

    <p><span class="new"> 335万元 </span> 3室2厅 138㎡ </p>

    <p> 大兴 - 听涛雅苑 </p>

    <div class="stag"><span class=" t1">满五唯一</span><span class=" t2">学区房</span><span class=" t3">地铁房</span></div>
  </div>
</a>
</li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_245566355.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_06/04/M03/0D/F0/wKgFk1VwR06IBExiAAF8ekSkVboAAVyCgFejBwAAXyS649/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/><span class="online"></span>
  </div>
  <div class="txt"><h3> 低于同户型1000万!邻紫禁城,居王府井,媲美万 </h3>

    <p><span class="new"> 4000万元 </span> 4室2厅 445㎡ </p>

    <p> 东城 - 霞公府 </p>

    <div class="stag"><span class=" t1">低总价</span><span class=" t2">地铁房</span><span class=" t3">真房源</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_246993807.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_06/16/M09/0E/58/wKgFklV_3MeIV2iEAAC8BMWMoaYAAWahwLDUHYAALwc047/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/>
  </div>
  <div class="txt"><h3> 只发真房源 免税大两居 北京二中学区 20万精 </h3>

    <p><span class="new"> 245万元 </span> 2室2厅 98㎡ </p>

    <p> 大兴 - 老管委会宿舍 </p>

    <div class="stag"><span class=" t1">学区房</span><span class=" t2">地铁房</span><span class=" t3">真房源</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_239462103.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_04/13/M09/0C/89/wKgFklUrEOaIV9XIAAFB0LAgBzsAATl4gNsUN4AAUHo931/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/>
  </div>
  <div class="txt"><h3> 只有契税!远洋新干线116平米精装小两居,458万 </h3>

    <p><span class="new"> 458万元 </span> 2室1厅 115㎡ </p>

    <p> 朝阳 - 远洋新干线 </p>

    <div class="stag"><span class=" t1">低总价</span><span class=" t2">普宅满2年</span><span class=" t3">真房源</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/DS_433431.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img.soufun.com/viewimage/house/2006_03/22/1143018721543/120x120.jpeg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/>
  </div>
  <div class="txt"><h3> 丰台 阳光左右间 1室1厅 </h3>

    <p><span class="new"> 16万元 </span> 1室1厅 17㎡ </p>

    <p> 丰台 - 阳光左右间 </p>

    <div class="stag">
      <span class="t1">佣金0.5%</span><span class=" t2">不限购</span><span class=" t3">小户型</span><span class="t7">独家</span>
    </div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_247226251.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_06/18/M03/0E/68/wKgFklWCdcWIUbyLAABptyKi0QwAAWg4gLJf5EAAGnP489/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/><span class="online"></span>
  </div>
  <div class="txt"><h3> 佣金1.5 单价6.3万 有学区名额 满2年 税费少 </h3>

    <p><span class="new"> 475万元 </span> 2室1厅 75㎡ </p>

    <p> 西城 - 二七剧场路东里小区 </p>

    <div class="stag"><span class=" t1">学区房</span><span class=" t2">普宅满2年</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_248549132.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_06/26/M06/0E/A3/wKgFklWM4mCIfcapAAGeiPNksvEAAW3wgG2L8sAAZ6g886/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/><span class="online"></span>
  </div>
  <div class="txt"><h3> 楼层好,视野广,学位房出售满五唯一业主急售紧 </h3>

    <p><span class="new"> 510万元 </span> 3室1厅 107㎡ </p>

    <p> 丰台 - 万年花城三期 </p>

    <div class="stag"><span class=" t1">低总价</span><span class=" t2">满五唯一</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_240758735.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_04/24/M04/0C/DC/wKgFclU5_cSIDQWdAAEyZEF9TBsAAUF9gMSjrYAATJ8644/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/><span class="online"></span>
  </div>
  <div class="txt"><h3> 开发商惜售2+1户型!绝对稀缺!业主用钱急售!性 </h3>

    <p><span class="new"> 615万元 </span> 2室2厅 108㎡ </p>

    <p> 朝阳 - 保利中央公园 </p>

    <div class="stag"><span class=" t1">地铁房</span><span class=" t2">学区房</span><span class=" t3">真房源</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_240963505.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img7.soufunimg.com/viewimage/agents/2015_04/26/M07/08/1E/wKgEKlU8gFCIenqzAAD2BBsUweUAAMrxAISc7EAAPYc493/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/><span class="online"></span>
  </div>
  <div class="txt"><h3> 业主出国,昨晚刚刚降价!上观满5唯一两居,性价 </h3>

    <p><span class="new"> 430万元 </span> 2室2厅 96㎡ </p>

    <p> 朝阳 - 国风上观 </p>

    <div class="stag"><span class=" t1">学区房</span><span class=" t2">低总价</span><span class=" t3">真房源</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/WAGT_240969188.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img3n.soufunimg.com/viewimage/agents/2015_04/26/M06/0C/E8/wKgFclU8jtGIW25sAAEF_DP7E_kAAUKuQNHljMAAQYU708/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/><span class="online"></span>
  </div>
  <div class="txt"><h3> 业主真的急了,昨晚11点降价20万!满5唯一东南 </h3>

    <p><span class="new"> 320万元 </span> 1室2厅 78㎡ </p>

    <p> 朝阳 - 朝庭公寓 </p>

    <div class="stag"><span class=" t1">地铁房</span><span class=" t2">小户型</span><span class=" t3">真房源</span></div>
  </div>
</a></li>
<li><a id="wapesfsy_D02_06" href="http://m.fang.com/esf/bj/DS_434980.html">
  <div class="img">
    <img src="http://js.soufunimg.com/common_m/m_public/images/loadingpic.jpg" data-original="http://img7.soufunimg.com/viewimage/agents/2015_06/28/M00/0A/A8/wKgEK1WPXT2IPMTaAACNHJcvvJYAAQpowPa0hcAAI00859/120x120.jpg" onerror="javascript:this.src='http://js.soufunimg.com/common_m/m_public/' + 'images/loadingpic.jpg';"/>
  </div>
  <div class="txt"><h3> 满二唯一,一居能改两居,南北通透 黄金楼层 精 </h3>

    <p><span class="new"> 170万元 </span> 1室1厅 68㎡ </p>

    <p> 大兴 - 康盛园 </p>

    <div class="stag">
      <span class="t1">佣金0.5%</span><span class=" t2">地铁房</span><span class=" t3">普宅满2年</span><span class="t7">独家</span>
    </div>
  </div>
</a></li>
<img src="http://uv.wap.fang.com/default/index?uvn=Y&amp;uvb=1&amp;uvr=http%3A%2F%2Fm.fang.com%2Fesf%2Fbj%2F&amp;uvl=http%3A%2F%2Fm.fang.com%2Fesf%2F%3Fpurpose%3D%25D7%25A1%25D5%25AC%26city%3D%25B1%25B1%25BE%25A9%26keywordtype%3Dqz%26gettype%3Dandroid%26correct%3Dtrue%26pagesizeslipt%3D5%26c%3Desf%26a%3DajaxGetList%26city%3Dbj%26r%3D0.08474860899150372%26page%3D4&amp;uvz=667410873" style="display:none;"/>