<tr>
  <td>
    <%=organization.name%>
  </td>
  <td>
    <a href="/cms/personal/organizations/edit">修改</a>
  </td>
  <td>
    <a href="/cms/personal/organizations/<%=organization.id%>/set_roles">设置权限</a>
  </td>
</tr>