<table>
  <thead>
  <th>
    职位名称
  </th>
  <th>
    修改
  </th>
  <th>
    设置权限
  </th>
  </thead>
  <tbody>
  <%=render :partial=>"/cms/personal/organizations/organization", :collection => @organizations %>
  </tbody>
</table>