.erweima{
  width: 55%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.description{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.share{
  font-size: 20px;
}

.notice{
  font-size: 20px;
  color: red;
  margin-top: 20px;
}