.micro-image img{
	font-size: 32px;
	width: 50px;
  height: 40px;
}
.circle-number {
	font-size: 32px;
}

table.circle-number {
  font:normal normal normal 0.88em/1.2 arial,sans-serif;
  margin:0 0 10px 0;
}
table.circle-number td {
  border: 5px solid black;
  margin-left: -5px;
  border-collapse:collapse;
}