<div class="background">
  <div class="erweima">
    <img src="<%= @url %>"/>
  </div>
  <div class="description">

    <div class="share">
      以上是您的推广二维码图片,请长按保存到您手机,以便分享在朋友圈。
    </div>
    <div class="notice">

    </div>
  </div>

</div>