<div class="background">
  <div class="erweima">
    <img src="<%= @url %>"/>
  </div>
  <div class="description">

    <div class="share">
      以上是您的推广二维码,请长按保存到您手机,以便分享在朋友圈。
    </div>
    <div class="notice">
      朋友通过以上二维码关注以后,所产生的订单您都将拿到佣金。<br/>
      您也可将此二维码在第三方网站加以美化,以增加辨识度<br/>
    </div>
  </div>

</div>