<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>保险后台管理系统</title>
</head>

<frameset  id="pageFrame"  framespacing="0" border="1" frameborder="yes" cols="230,*">

  <frame title="menuFrame" name="menuFrame" id="menuFrame" src="/cms/employee_validate/functions/menu"></frame>

  <frame id="mainFrame" title="mainFrame" name="mainFrame" src="/cms/employee_validate/functions/welcome"></frame>

  <noframes>&lt;body&gt; &lt;/body&gt;</noframes>
</frameset>

</html>

