<div class="pa_right">
  <p class="rtitle"></p>
  <div class="p_r_con" style="padding:15px 15px 0 15px;">

    <img src="/images/welcome.jpg" alt="" title="" style="margin:0 auto; display:block;"/>

  </div>
  <p class="rbottom"></p>
</div>