/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Microsoft YaHei,  Arial, SimSun";
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    overflow:scroll;
    width: 1024px;
}

/*layout 上面的大框*/
.top {
    height: 114px;
    width: 100%;
    border-bottom: #a40000 solid 1px;
    background-color: #FFFFFF;
    position: relative;
}

.top .logo {
    position: absolute;
    //left: 70px;
    bottom: 10px;
    width: 30%;
}

.top .weixin_logo {
    position: absolute;
    top: 8px;
    right: 50px;
    height: 30px;
}

.top .weixin_logo .image {
    float: left;
}

.top .weixin_logo .text {
    float: left;
    line-height: 30px;
    padding-left: 10px;
    font-size: 15px;
}

.top .tab {
    position: absolute;
    width: 43%;
    height: 40px;
    right: 60px;
    bottom: 2px;
}

.top .tab .context {
    line-height: 40px;
    width: 100px;
    font-size: 16px;

    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    a{
      color : #000000;
      text-decoration: none;
    }
}

.top .tab .selected {
    background-color: #ff0000;
}

.real_content .big_image {
    padding-top: 1px;
    width: 100%;
}

.foot {
    height: 70px;
    background-color: #edf1f4;
    line-height: 70px;
    text-align: center;
    font-size: 14px;
    font-family: 'microsoft yahei';
}