.neirong {
  width: 95%;
  margin: 20px auto 30px auto;
  color: #a1a1a1;
  font-size: 16px;
  text-align: left;

  img {
    width: 100%;
  }
  .title {
    font-size: 20px;
    color: #666666;
  }
  .link {
    float: right;
    font-size: 14px;
    color: #2e7ecd;
  }
  .baojia {
    float: left;
    margin-right: 25px;
    width: 28%;
    img {
      width: 100%;
    }
  }
  .kefu {
    float: left;
    margin-right: 25px;
    width: 28%;
    img {
      width: 100%;
    }
  }
  .links {
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    width: 30%;
    div {
      div:nth-child(1) {
        float: left;
        line-height: 28px;
        white-space: pre-line;
      }
      div:nth-child(2) {
        float: right;
        line-height: 28px;
      }
      div:nth-child(3) {
        clear: both;
      }
    }
  }
}