// Place all the styles related to the Wz::Weizhang::Chaxun controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body_background{
  background-image: url('/images/wz_background.png');
  background-size: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.show_title{
  height: 37px;
  width: 155px;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 37px;
  border-radius: 16px;
  margin-left: 12px;
  text-align: center;
  border: #cacaca solid 1px;  //#设置边框
  box-shadow: 1px 1px 1px 1px #cccccc;
}

.weizhang_content{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: #dfdfdf solid 1px;
  border-bottom-color: #4abdcc;
  padding: 0px 10px 15px 10px;
  background-color: #ffffff;
  font-size: 14px;
  color: #666666;
  font-family: 'STHeiti Light[STXihei]';
}

.weizhang_content_time{
  padding: 10px 0 10px 0;
  border-bottom: #cccccc solid 1px;
}

.weizhang_content_place{
  font-size: 15px;
  padding: 10px 0 10px 0;
}


.weizhang_number{
  color: #ff8a01;
  padding-left: 3px;
  padding-right: 3px;
}


