<div class="nav-logo">
  <!--<img src="/img/index/top.gif" width="100%">-->
</div>
<ul class="nav">
  <% @products.each do |product|%>
  <li><a href="<%=product.url + "?&id=#{product.id.to_s}" %>"><img src="/uploads/images/<%=product.cover_image%>" alt="" width="100%"/></a></li>
  <% end %>
</ul>
<div class="nav">
</div>