
  <div class="big_image">
    <%= image_tag 'dwz/haoche_stat/promation/index/yingzaihaoche.gif', style: "width: 100%" %>
  </div>

  <div class="notice">
    <span style="color: #ff0000;">最新公告：</span>5月可结算费用已下发至会员账户，有任何问题请联系管理员
  </div>

  <div class="three_pic">
    <div class="pic">
        <%= image_tag 'dwz/haoche_stat/promation/index/duoyuanchanpin.png', class: "p" %>
    </div>
    <div class="pic middle">
      <%= image_tag 'dwz/haoche_stat/promation/index/kehuxifen.png', class: "p" %>
    </div>
    <div class="pic">
      <%= image_tag 'dwz/haoche_stat/promation/index/jiameng.gif', class: "p" %>
    </div>
    <div style="clear: both"></div>
  </div>
