<div class="big_image">
  <%= image_tag 'dwz/haoche_stat/promation/topics/deng.jpg', style: "width: 100%" %>
</div>

<div class="neirong">
  <%= image_tag 'dwz/haoche_stat/promation/topics/remenzhuanti.gif' %>
  <div class="baojia">
    <%= image_tag 'dwz/haoche_stat/promation/topics/baojia.gif' %>
    <div >
      宝驾租车
    </div>
    <div>
      热门P2P租车，拓展租客和出租车辆的车东都可获得收益
    </div>
    <div class="link">
        查看详情>
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="kefu">
    <%= image_tag 'dwz/haoche_stat/promation/topics/yibuzhiyao.gif' %>
    <div >
      客服挖掘
    </div>
    <div>
      基于同一客户的多种需求开展主动交叉营销最大化单客价值产出
    </div>
    <div class="link">
      查看详情>
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="links">
    <div> <div>营销中心岁末狂欢ipad送不停 </div>  <div>2015-06-20 </div>  <div> </div></div>
    <div> <div>品牌起跑线 限时特惠 </div>  <div>2015-06-11 </div>  <div> </div></div>
    <div> <div>商桥对话框升级啦 </div>  <div>2015-06-02 </div>  <div> </div></div>
    <div> <div>教育知心有好礼 </div>  <div>2015-05-26 </div>  <div> </div></div>
    <div> <div>移动搜索之门店推广 </div>  <div>2015-05-17 </div>  <div> </div></div>
    <div> <div>你看专题转发，我就送你礼物 </div>  <div>2015-05-05 </div>  <div> </div></div>
    <div> <div>以实为凭，以诚载誉 </div>  <div>2015-05-05 </div>  <div> </div></div>
    <div> <div>猜球，得网页回呼分钟数 </div>  <div>2015-04-25 </div>  <div> </div></div>
    <div style="clear: both"></div>
  </div>
  <div style="clear: both"></div>
</div>

